:root {
  //main
  --primary-blue: #132841;
  --secondary-blue: #24364C;
  --primary-green: #55B79E;
  --secondary-green: #C7DCD8;
  --white: #ffffff;
  --black: #000000;

  //window_elevation
  --primary-grey: #F4F5F7;
  --secondary-grey: #E4E5E7;
  --tertiary-grey: #D0D0D1;
  --quartiary-grey: #808080;

  //separators
  --primary-separator-grey: rgb(244,245,247, 0.18);
  --secondary-separator-grey: rgb(0,0,0,0.15);

  //badges
  --open-badge-color: #465362;
  --in-progress-badge-color: #FFA500;
  --review-badge-color: #6A0DAD;
  --done-badge-color: #008000;

  // Editor
  --color-editor-1: #F10606;
  --color-editor-2: #FF8700;
  --color-editor-3: #FFD300;
  --color-editor-4: #DEFF0A;
  --color-editor-5: #A1FF0A;
  --color-editor-6: #0AFF99;
  --color-editor-7: #0AEFFF;
  --color-editor-8: #147DF5;
  --color-editor-9: #580AFF;
  --color-editor-10: #BE0AFF;

  --color-gray-primary: #F4F5F7;
  --color-gray-secondary: #E4E5E7;
  --color-gray-tertiary: #D0D0D1;
  --color-gray-quartiary: #808080;

  --color-highlight: #42aaf5;
}
