<div class="outerDiv">
  <div class="leftIntermediateDiv">
    <div class="leftInnerDiv">
      <img class="leftSideImage" src="https://i.imgur.com/BLJCMBu.png"/>
    </div>
  </div>

  <div class="rightIntermediateDiv">
    <div class="rightInnerDiv">
      <div>
        <h3 class="primaryColor">{{ 'about-us.collaboration' | translate }}</h3>
      </div>
      <div>
        <h1 class="primaryColorBold">{{ 'about-us.ourMission' | translate }}</h1>
      </div>
      <div>
        <p class="primaryColor">{{ 'about-us.text1' | translate }}</p>
      </div>
      <div>
        <p class="primaryColor">{{ 'about-us.text2' | translate }}</p>
      </div>
    </div>
  </div>  
</div>